.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;
}

.iconefooter {
    font-size: 28px;
    color: whitesmoke;
}

a .footer1 {
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}

a .footer1:hover {
    border: 1px whitesmoke solid;
    border-radius: 10px;
    transform: scale(1.12);
    transition: 0.5s ease-in-out;
}

@media screen and (max-width: 768px) 
{
    .footer {
        flex-direction: column;
        height: 600px;
    }
    .footer1 {
        align-items: center;
    }
}