.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: black;
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
}

.iconefooter {
    font-size: 22px;
    color: rgb(57, 33, 209);
}

.bullefooter {
    width: 14%;
    height: 80px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px 60px 60px 60px;
}

@media screen and (max-width: 768px) 
{
    .footer {
        flex-direction: column;
        height: 600px;
    }
    .footer1 {
        align-items: center;
    }
    .bullefooter {
        width: 38%;
        display: flex;
        justify-content: center;
        border-radius: 90px 20px 90px 20px;
    }
}