.base {
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.photo {
    width: 50%;
    height: 435px;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 15px;
}
.fotosite {
    width: 100%;
    object-fit: cover;
    -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}

.fotosite:hover {
    transform:rotate3d(0,1,0,180deg);
}