#use__avatar {
    width: 38%;
    object-fit: cover;
    border-radius: 48%;
}

.user {
    text-align: center;
}

.user__infos {
    text-align: left;
    padding: var(--spacing-3) 0 var(--spacing-1) 0;
}

.user__info {
    margin-left: 1rem;
}

@media screen and (max-width:767px)
{
    #use__avatar {
        width: 20%;
    }
}
    
